
/* //////////////////////helpers//////////// */


/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.center{
    justify-content: center;
    align-items: center;
}
.space-around {
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.flex-end{
    justify-content: flex-end;
}
.wrap {
	flex-wrap: wrap;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

/*  --- Layout --- */

.base-container{
    max-width: 1060px;
    margin:0 auto;
}

.txt{
    background-color: rgb(134, 55, 85);
}